$red: #FF3333;
.sample-body {
  background-color: $red;
}
$mobile-width: 600px;
$tablet-width: 800px;
$border-color: #DFE1E5;
$material-black: #3C4858;
$material-green: #4CAF50;
$material-red:  #F44336;
$material-blue: #64B5F6;

@mixin time-frame($color: #000) {
    display: inline-block;
    padding: 0 .25rem;
    font: {
        size: .75rem;
        weight: bold;
    }
    border: solid 2px $color;
    border-radius: 4px;
    vertical-align: bottom;
    margin: 0 .25rem 0 0;
}

html {
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    -webkit-overflow-scrolling : touch;
    white-space: nowrap;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:link, &:visited, &:hover, &:active {
        color: inherit
    }
}

hr {
    border: 0;
    border-bottom: 1px solid $border-color;
    margin: 0;
}

.text-center {
    text-align: center;
}

.half-span {
    font-size: .75em;
}
.quarter-size {
    font-size: .25em;
}
.half-size {
    font-size: .5em;
}
.three-quarters-size {
    font-size: .75em;
}
.material-red {
    color: $material-red
}
.material-blue {
    color: $material-blue
}

.wi {
    padding-right: .25rem;
}

.anim-enter {
    opacity: 0;
    transform: scale(.85);
    z-index: 0;
}
  
.anim-enter.anim-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 300ms ease-in-out;
}

.anim-exit {
    opacity: 1;
    z-index: 99;
}
.anim-exit.anim-exit-active {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 100ms ease-in;
}

.card {
    display: inline-block;
    margin: 10px 0;
    padding: 30px;
    width: 45vw;
    box-shadow: 0px 8px 50px -25px rgba(0, 0, 0, .5);

    border-radius: 10px;
    overflow: auto;

    @media screen and (max-width: $mobile-width) {
        width: 90vw;
        height: auto;
    }

    transition: all 300ms 0s ease;
    &:active {
        transform:scale(.95);
    }

    &.card-noframe {
        box-shadow: none;
    }

    .card-title {
        color: $material-black;
        font-size: 1.1rem;
        font-weight: bold;
    }
}

.circle-test {
    display: inline-block;
    padding: 0 .25rem;
    font-size: .75rem;
    border: solid 2px #4CAF50;
    border-radius: 4px;
    vertical-align: bottom;
    margin: 0 .25rem 0 0;
}

.main-body {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .left-body {
        display: flex;
        flex-direction: column;
    }
}


.header {
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
    border-bottom: solid 1px #ccc;
}
.header-date {
    .h-greeting {
        font-size: 2rem;
        font-weight: bold;
    }
    
    .h-date {
        color: $material-black;
        font-size: 1rem;
        font-weight: bold;
    }
    
    .h-time {
        margin-top: -.5rem;
        font-size: 2rem;
        font-weight: bold;
    }

    .h-sec {
        display: inline;
        padding-left: .1rem;
        font-size: 1.3rem;
    }
}
.header-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
.header-info-frame {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border: solid 2px $material-blue;
    border-radius: 20px;
    overflow: hidden;
    z-index: 999;
}
.header-info-title-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem 1rem .25rem 1.25rem;
    width: 20%;
    background: $material-blue;
    z-index: 99;
    overflow: hidden;
}
.header-info-title {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
.header-info-title-anim-in {
    display: block !important;
    animation : fadeIn 1s ease-in-out;
}
.header-info-title-anim-out {
    position: absolute;
    opacity: 0;
    animation : fadeOut 1s ease-in-out;
}
.header-info-content-wrapper {
    position: relative;
    width: 100%;
    max-width: 80%;
}
.header-info-content {
    min-width: 100%;
    padding: 0 .5rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
}
.header-info-content-anim-in {
    animation: swipeIn 3s ease;
}
.header-info-content-anim-out {
    position: absolute;
    top: 0;
    max-width: 100%;
    transform: translateX(-110%);
    animation: swipeOut 3s ease;
}
@keyframes swipeIn {
    0% {
        transform: translateX(110%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes swipeOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-110%);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.info {
    max-height: 45vh;
    
    .train-info {
        display: flex;
        flex-wrap: wrap;

        .line-content {
            min-width: 50%;
        }

        .line-symbol {
            padding: 0px 2px 1px 2px;
            vertical-align: bottom;
        }
    }
}

.weather {
    .today-weather {
        .icon {
            display: block;
            font-size: 3rem;
            text-align: center;
        }
        .temp {
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
        }
    }
    .weather-hr {
        margin: 1rem 0;
    }
    .weekly-weather {
        display: flex;
        flex-direction: row;

        div {
            flex: 1;
            text-align: center;

            .describe {
                font-weight: bold;
            }
            .icon {
                font-size: 1.5rem;
                line-height: 1.5;
            }
        }
    }
}

.rooms {
    &:active {
        transform: none;
    }

    .resource-group {
        height: 75vh;
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: auto;

        .resource {
            margin: 1rem 1rem;
            //border-bottom: solid 1px #ccc;

            .title {
                font-size: 1rem;
                font-weight: bold;
            }

            .next {
                margin: 0 1rem;
                font-size: .8rem;
            }

            .empty-code {
                @include time-frame($material-green);
            }

            .using-code {
                @include time-frame($material-red);
            }
        }        
    }
}


.room-detail {
    .content {
        position: relative;
        margin: 0 3rem;

        .close-btn {
            position: absolute;
            display: inline-block;
            top: 1rem;
            right: 0;
            width: 3rem;
            height: 3rem;
            background: rgba(0, 0, 0, .1);
            border-radius: 50%;
            transition: all 300ms 0s ease;
            &:active {
                transform:scale(.75);
            }

            .content {
                margin: 0;
                color: rgba(0, 0, 0, .7);
                font-size: 2rem;
                text-align: center;
                line-height: 2.7rem;
            }
        }

        .room-summary {
            padding: 1rem 0 .5rem 0;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }    
}

.event-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .current-event, .follow-event {
        width: 40vw;
        height: 75vh;
        &:active {
            transform: none;
        }

        @media screen and (max-width: $tablet-width) {
            width: 90vw;
            height: auto;
        }
    }
}

.event-detail-content {
    .untill {
        @include time-frame($material-red);
    }
    .after {
        @include time-frame($material-green);
    }
    .time {
        font-weight: bold;

        
    }
    
    .summary {
        font: {
            size: 1.25rem;
            weight: bold;
        }
    }

    .sub-content {
        margin: 0 1.5rem;
    }

    .e-d-hr {
        margin: 1rem 0;
    }
}

.attendees-wrapper {
    display: flex;
    flex-direction: row;
}

.weather-detail {
    position: relative;
    margin: 0 3rem;

    .close-btn {
        position: absolute;
        display: inline-block;
        top: 1rem;
        right: 0;
        width: 3rem;
        height: 3rem;
        background: rgba(0, 0, 0, .1);
        border-radius: 50%;
        transition: all 300ms 0s ease;
        &:active {
            transform:scale(.75);
        }

        .content {
            margin: 0;
            color: rgba(0, 0, 0, .7);
            font-size: 2rem;
            text-align: center;
            line-height: 2.7rem;
        }
    }
}

.weather-detail-wrapper {
    display: flex;
    flex-direction: column;
}

.current-weather-detail {
    margin: 10px 0 0 0;
    width: 100%;
    box-shadow: none;
    overflow: visible;
    &:active {
        transform: none;
    }

    .today-weather {
        overflow-x: auto;
        white-space: nowrap;
        font: {
            size: 3rem;
            weight: bold;
        }
        .temp {
            display: inline-block;
            margin-left: 1rem;
        }
        .humid {
            display: inline-block;
            margin-left: 1.5rem;
        }
    }
}

.follow-weather-detail {
    width: 90vw;

    .weather-content {
        .time {
            margin-bottom: .25rem;
            font-size: 1rem;
            font-weight: bold;
        }
        font: {
            size: 1.25rem;
        }
        i {
            font-size: 2rem;
        }
        .temp, .humid {
            display: inline-block;
            margin: 0 1rem;
        }
        .w-hr {
            margin: .75rem 0;
        }
    }
}

.weather-todays {
    margin: 1rem 0 .5rem 0;

    .weather-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .title {
            position: relative;
            display: block;
            width: 100%;
            text-align: center;
            border-bottom: solid 1px $material-black;
        }
    }
}

.weather-todays-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.weather-todays-content {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;

    .weather-todays-content-title {
        margin-bottom: .5rem;
        font-size: 1.25rem;
        font-weight: bold;
    }

    .inner-content {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &>i {
            font-size: 2.5rem;
        }
        .detail {
            text-align: left;
            margin-left: .5rem;
            ///font-weight: bold;
        }
    }
}

.weather-todays-content+ .weather-todays-content {
    .weather-todays-content-title::before {
        content: '';
        width: 1rem;
        height: 1rem;
        border: 0px;
        border-top: solid 2px $border-color;
        border-right: solid 2px $border-color;
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
        left: -1rem;
        transform: translateY(-50%) rotate(45deg); 
    }
}

.w-f-hr {
    margin: 2rem 0;
}

.v-room-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.v-room-card {
    position: relative;
    height: 12rem;
    width: 28vw;
    margin: 15px;
    border-radius: 20px;
    
    &:active {
        transform: none;
    }
}
.v-room-card-title {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}
.v-room-card-manager, .v-room-card-summary {
    margin-left: .5em;
    white-space: nowrap;
    overflow: hidden;
    font-size: .9em;
}
.v-room-card-current {
    height: 3.75rem;
}
.v-room-card-follow {
    white-space: nowrap;
    overflow: hidden;
    font-size: .9rem;
}
.v-room-card-footer {
    position: absolute;
    padding: .5rem 15px;
    bottom: 1rem;
    left: 50%;
    width: 75%;
    border: 0;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    transform: translateX(-50%);
    transition: all 300ms 0s ease;
    &:active {
        transform: translateX(-50%) scale(.9);
    }
}
.v-room-card-footer-using {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    box-shadow: 0 12px 20px -10px rgba(255, 75, 43, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 75, 43, 0.2);
}
.v-room-card-footer-empty {
    background: linear-gradient(to right, #90C73D, #59AB88);
    box-shadow: 0 12px 20px -10px rgba(144, 199, 61, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(144, 199, 61, 0.2);
}
.v-room-detail {
    position: absolute;
    height: 80vh;
    width: 85vw;
    top: 5%;
    padding: 30px;
    background: rgba(255, 255, 255, .9);
    background: white;
    border-radius: 20px;
    box-shadow: 0px 8px 50px -25px rgba(0, 0, 0, .5);
    z-index: 999;
}
.v-room-detail-content {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;

    .close-btn {
        position: absolute;
        display: inline-block;
        top: 1rem;
        right: 0;
        width: 3rem;
        height: 3rem;
        background: rgba(0, 0, 0, .1);
        border-radius: 50%;
        transition: all 300ms 0s ease;
        &:active {
            transform:scale(.75);
        }

        .content {
            margin: 0;
            color: rgba(0, 0, 0, .7);
            font-size: 2rem;
            text-align: center;
            line-height: 2.7rem;
        }
    }
}
.v-room-detail-desc {
    font-size: 1.25rem;
    font-weight: bold;
    color: #444;
    text-align: center;
    padding: .75rem;
}
.v-room-detail-title {
    font-size: 1.6rem;
    font-weight: bold;
}
.v-room-detail-current {
    position: relative;
    padding: 0rem 0 1.25rem;
    border-bottom: solid 1px $border-color;
}
.v-room-detail-current-attendees {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .v-room-detail-current-attender {
        width: 50%;
        overflow: hidden;
    }
}
.v-room-detail-current-using {
    display: flex;
    flex-direction: row;
}
.v-room-detail-current-using-left, .v-room-detail-current-using-right {
    width: 50%;
}
.v-room-detail-current-desc {
    margin: 0 1rem;
    border-bottom: solid 2px $material-blue;
}
.v-room-detail-current-content {
    margin: .25rem 1rem 1rem 2rem;
    font-size: 1.25em;
    overflow-x: auto;
}
.v-room-detail-current-empty {
    padding: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: $material-green;
}
.v-room-detail-follow {
    padding: .25rem 0;
}
.v-room-detail-follow-event {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .75rem 2rem;

    .desc {
        border-bottom: solid 1px $material-blue;
    }

    .summary, .time, .manager {
        width: 32%;
        overflow-x: auto;
    }
}
.v-room-detail-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: #3C4858;
    border-radius: 50%;
}

.v-room-recom-btn {
    position: fixed;
    display: flex;
    align-items: center;
    padding: .5rem 30px;
    bottom: 1rem;
    right: 1rem;
    color: white;
    font-size: .75rem;
    text-align: center;
    background: linear-gradient(to right, #fdc830, #f37335);
    box-shadow: 0 12px 20px -10px rgba(243, 115, 53, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(243, 115, 53, 0.2);
    border-radius: 50px;
    transition: all 300ms 0s ease;
    &:active {
        transform: scale(.9);
    }

    i {
        font-size: 1.25rem;
        padding-right: 1rem;
    }
}

.v-room-recom-card {
    position: fixed;
    padding: 1.25rem 1.75rem;
    bottom: 5rem;
    right: 1rem;
    width: 22rem;
    max-height: 80vh;
    background: white;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.12),0 3px 14px 2px rgba(0,0,0,0.10),0 5px 5px -3px rgba(0,0,0,0.17);
    border-radius: 12px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 9999;
}

.v-room-recom-card-title {
    padding-bottom: .25rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.v-room-recom-time-desc {
    color: #888;
}

.v-room-recom-desc {
    padding: .25rem 0;
    color: #888;
    font-size: .75rem;
    text-align: center;
}

.v-room-recom-time {
    display: flex;
    div {
        margin: 0 4px;
        padding: .5rem 0;
        width: 100%;
        color: #888;
        font-size: .75rem;
        text-align: center;
        border: solid 1px #ccc;
        border-radius: 12px;
    }

    .active {
        color: white;
        font-weight: bold;
        background: #ccc;
    }
}

.v-room-recom-rooms {
    &>div {
        padding: .75rem 0;
    }
    &>div+ div {
        border-top: solid 1px #ccc;
    }
}

.v-room-recom-room-next {
    padding-left: 1rem;
    color: #888;
    font-size: .85rem;
    border: none;
}

.error-wrapper {
    color: #555;
}
.error-stripe {
    height: 2rem;
    background-image: linear-gradient(
        -45deg,
        #555 25%,
        #fde100 25%,
        #fde100 50%,
        #555 50%,
        #555 75%,
        #fde100 75%,
        #fde100
    );
    background-size: 30px 30px;
    background-attachment: fixed;
}
.error-content {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.error-reload-btn {
    text-align: center;
}
.error-uc-icon {
    display: block;
    margin: 1rem auto;
    width: 300px;
    height: 300px;
    fill: rgb(253, 225, 0);
}
.error-detail {
    display: block;
    margin: .5rem auto 1.5rem;
    padding: 1rem;
    width: 80%;
    background: #eee;

    hr {
        margin: .25rem 0;
    }
}