<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Office echo</title>
    <link rel="icon" href="/images/icons/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-title" content="Office echo" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=no, email=no, address=no" />
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png" sizes="180x180">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css" />
    <link href="/style.css" rel="stylesheet">
</head>

<body>
    <div id="app" ontouchstart=""></div>
    <script>
        window.addEventListener('load', function () {
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register("/serviceWorker.js")
                .then(function (registration) {
                    console.log("serviceWorker registed.");
                }).catch(function (error) {
                    console.warn("serviceWorker error.", error);
                });
            }
        });
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/main.js"></script>
</body>

</html>